<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abirshukla.souschef">

    <uses-permission android:name="android.permission.CAMERA" />

    <permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_TIMER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings" />
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Links" />
        <activity android:name=".SearchDish" />
        <activity
            android:name=".SousPage"
            android:label="@string/title_activity_sous_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Sample" />
        <activity android:name=".Favorites" />
        <activity android:name=".LoadDish">

        </activity>
    </application>

</manifest>